Repository ImJaeOne/checker, pull requests merged in 2025-07, with the labels that each got.

#8 Feature/#7 supabase 연동
  .gitignore
  src/App.tsx
  src/apis/.gitignore
  src/apis/leaveTypes.api.ts
  src/constants/db.constant.ts
  src/constants/queryKey.constant.ts
  src/hooks/.gitignore
  src/hooks/useLeaveTypesQuery.ts
  src/pages/LeavePage.tsx
  src/types/DTO/leaveTypes.dto.ts
  src/utils/.gitignore
  src/utils/supabase.ts
Labels: 📬 API

#6 Feature/#2 대시보드 구현
  package.json
  pnpm-lock.yaml
  src/apis/leaveType.api.ts
  src/components/dashboard/AdminAttendanceFilter.tsx
  src/components/dashboard/AdminAttendanceList.tsx
  src/components/dashboard/AdminAttendanceTable.tsx
  src/components/dashboard/AdminDashboardSummary.tsx
  src/components/dashboard/EmployeeDashboardSummary.tsx
  src/components/dashboard/EmployeeLeaveTable.tsx
  src/components/dashboard/filter/AttendanceField.tsx
  src/components/dashboard/filter/DateRangeField.tsx
  src/components/dashboard/filter/DepartmentNameField.tsx
  src/components/dashboard/filter/LeaveField.tsx
  src/components/ui/Combobox.tsx
  src/components/ui/DatePicker.tsx
  src/components/ui/RadioOption.tsx
  src/components/ui/calendar.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/popover.tsx
  src/components/ui/radio-group.tsx
  src/hooks/useLeaveTypesQuery.ts
  src/mocks/users.ts
  src/pages/DashboardPage.tsx
  src/schemas/attendance.schema.ts
  src/types/DTO/leaveType.dto.ts
Labels: ✨ Feature, 🎨 Design

#5 Feature/#4 회원가입 구현
  src/components/login/LoginForm.tsx
  src/components/register/registerForm.tsx
  src/pages/RegisterPage.tsx
Labels: 🎨 Design

#10 Feature/#4 회원가입 구현
  src/apis/auth.api.ts
  src/apis/departments.api.ts
  src/apis/positions.api.ts
  src/components/register/registerForm.tsx
  src/constants/db.constant.ts
  src/constants/queryKey.constant.ts
  src/constants/siteMap.constant.ts
  src/hooks/useDepartmentsQuery.ts
  src/hooks/usePositionsQuery.ts
  src/lib/utils.ts
  src/schemas/auth.shema.ts
  src/types/DTO/departments.dto.ts
  src/types/DTO/positions.dto.ts
  src/types/DTO/user.dto.ts
  src/utils/formatNumber.util.ts
Labels: ✨ Feature, 📬 API

#11 Feature/#4 회원가입 구현
  src/apis/departments.api.ts
  src/apis/positions.api.ts
  src/types/DTO/departments.dto.ts
  src/types/DTO/positions.dto.ts
Labels: ⚠️ ASAP, 📬 API

#20 Feature/#19 사이드바 권한설정
  package.json
  pnpm-lock.yaml
  src/components/layouts/Sidebar.tsx
  src/components/ui/collapsible.tsx
  src/constants/siteMap.constant.ts
  src/pages/LeaveApprovalPage.tsx
  src/pages/LeavePage.tsx
  src/pages/LeaveRequestPage.tsx
  src/routes/Router.tsx
Labels: ✨ Feature, 🎨 Design

#26 Refactor/#25 연차 신청 리팩토링
  src/components/leaveRequest/LeaveRequestForm.tsx
  src/constants/leave.constant.ts
  src/constants/leaveRequests.constant.ts
  src/schemas/leaveRequest.shema.ts
  src/types/DTO/leaveRequests.dto.ts
  src/types/DTO/leaveType.dto.ts
  src/utils/date.util.ts
Labels: 🔨 Refactor

#28 Feature/#27 관리자 연차 승인
  package.json
  pnpm-lock.yaml
  src/apis/leaveRequests.api.ts
  src/components/leaveApproval/LeaveList.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/table.tsx
  src/constants/leave.constant.ts
  src/constants/queryKey.constant.ts
  src/hooks/useLeaveRequests.ts
  src/pages/LeaveApprovalPage.tsx
  src/types/DTO/leaveRequests.dto.ts
Labels: ✨ Feature, 🎨 Design, 📬 API
